name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:
  push:
    branches:
    - master

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: generate-snake-game-from-github-contribution-grid
        uses: Platane/snk@v3
        with:
          # github user name to read the contribution graph from (**required**)
          # using action context var `github.repository_owner` or specified user
          github_user_name: ${{ github.repository_owner }}
          
          # list of files to generate.
          # one file per line. Each output can be customized with options as query string.
          #
          #  supported options:
          #  - palette:     A preset of color, one of [github, github-dark, github-light]
          #  - color_snake: Color of the snake
          #  - color_dots:  Coma separated list of dots color.
          #                 The first one is 0 contribution, then it goes from the low contribution to the highest.
          #                 Exactly 5 colors are expected.
          outputs: |
            generated/snake.svg?palette=github-dark&color_snake=#3178c6&color_dots=#0d1117,#161b22,#0e4429,#006d32,#26a641
            generated/snake-dark.svg?palette=github-dark&color_snake=#ff0055&color_dots=#0d1117,#161b22,#0e4429,#006d32,#39d353
            
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/gh-action-github-pages@v3.1.0
        with:
          target_branch: master
          build_dir: .
          keep_history: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
